@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: 'Righteous', cursive;
    background: #ECDFCD;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
img{
    width: 5.5rem;
    height: 5.2rem;
    border-radius: 50%;
}
.img{
    position: fixed;
}
#title{
    text-align: center;
    padding: 0.8rem 0;
    font-size: 3rem;
    color: #fff;

}
.questions{
    margin: 3rem auto;
    width: 90vw;
    padding: 2rem;
    background: #6AD9D9;
    cursor: default;
    border-radius: 1rem;
    color: #fff;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.9);

}
#question{
    margin-bottom: 1rem;
}
.option{
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    border-bottom: solid 0.1rem blue;
    width: 15rem;
    background: lightblue;
    border-radius: 1rem;

}
.option:hover{
    color: white;
}
ol{
    position: relative;
    padding: 0 1.5rem;
    color: #fff;
}
span{
    display: block;
    padding: 0.1rem 0.7rem;
    border-radius: 1rem;
}
#answer{
    margin-top: 2.5rem;
}
#stat{
    margin-top: 1.5rem;
    color: rgb(6,17,168);
}
.buttons{
    text-align: center;
}
button{
    padding: 0.2rem 1.5rem;
    border: none;
    outline: none;
    font-size: 1.5rem;
    border-radius: 1.5rem;
    color: #fff;
    background: #6AD9D9;
}
button:hover{
  transform: translateY(-5px);
  background: #6AD9E5;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.9);

}

#scoreboard,#answerBank{
    width: 20rem;
    background: rgb(178, 223, 223);
    padding: 2rem;
    text-align: center;
    margin: auto;
    position: relative;
    top: 5rem;
    display: none;
    border-width: 5;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.9);


}
#score-title{
    margin: 1rem 0;
    color: #fff;
}
#score-btn,#check-answer{
    margin-top: 1rem;
}
#score{
    font-size: 2.5rem;
    color: #fff;
}
#answerBank li{
    text-align: left;
    margin-bottom: 0.2rem;
    font-size: larger;
}
#answers{
    margin-top: 1rem;
}
